body{
    display: flex;
    justify-content:center;
    align-items: center;
}

.card {
  width: 600px;
  height: 400px;
  perspective: 1000px;

}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.card-inner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-inner.flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: var(--card-bg);
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid var(--border-color);
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
  flex-direction: column;
}

.card-back {
  background-color: var(--card-bg);
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid var(--border-color);
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
  flex-direction: column;
}

.contacts a{
    text-decoration: none;
}

.contacts a:hover{
    transform: scale(1.2);
}

@media (hover: hover) {
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
}

/* --- Планшеты и маленькие ноутбуки --- */
@media (max-width: 1200px) {
  .card {
    width: 500px;
    height: 350px;
  }

  .card-front,
  .card-back {
    font-size: 20px;
  }

  .card-front,
  .card-back {
    border-width: 8px;
  }
}

/* Планшеты и большие телефоны */
@media (max-width: 768px) {
  body {
    padding: 20px;
  }

  .card {
    width: 400px;
    height: 300px;
  }

  .card-front,
  .card-back {
    font-size: 18px;
    border-width: 6px;
  }


}

/* Маленькие телефоны */
@media (max-width: 480px) {
  body {
    padding: 10px;
  }

  .card {
    width: 90%;
    height: auto;
    aspect-ratio: 3/2; /* сохраняем пропорции */
  }

  .card-front,
  .card-back {
    font-size: 16px;
    border-width: 4px;
    padding: 10px;
  }
}
